html,
body {
  width: 100%;
  min-height: 100vh;
  position:relative;
  margin: 0;
  padding: 0;
  font-family: "Arsenal", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-weight: 300;
}

.content {
  background: linear-gradient(to right top, #e6beae, #f2e9e4), white;
  background-size: 100% 700px, 100% calc(100% - 700px);
  background-repeat: no-repeat;
  background-position: 0 0, 0 700px;
}

.container {
  width: 70%;
  margin: 40px 15% 5% 15%;
  padding-top: 40x;
  background: #f8f9fa;
  border-radius: 25px;
  box-shadow: 0px 0px 14px rgba(117, 117, 117, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Design of Intro block: */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 100px 100px 100px;
}

.intro-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  padding-top: 20px;
}

.intro-1-job {
  color: #bb8588;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
}

.intro-1-name {
  font-family: "El Messiri", sans-serif;
  font-size: 50px;
}

.intro-image {
  width: 100%;
  max-width: 340px ;
  min-width: 200px;
  border-radius: 50px;

}

.text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  color: #555555;
}

.fa-circle-check {
  color: #e6beae;
  margin: 9px 7px 0 0;
}

.fa-crow {
  font-size: 250px;
  color: #e2ece9;
  margin-left: 80px;
}

/* Design of *About me* section */

.about-me {
  margin: 0 100px 0 100px;
}

.check-text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  color: #555555;
}

ul li {
  list-style: none;
}

h3 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}

/* Design of Projects' block: */

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: "El Messiri", sans-serif;
  font-weight: 500;
}

.card img {
  width: 200px;
  height: 200px;
  margin: 10px 20px 10px 20px;
  border-radius: 10px;
}

.card img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.project-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-description {
  text-align: center;
  margin: 0;

}

.card {
  margin: 20px;
}

.card a {
  text-decoration: none;
  color: black;
}
.card a:hover {
  color: bb8588;
}

/* Design of *Contact me* block */

.contacts {
  margin: 0 100px 0 100px;
}

a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  text-decoration: none;
  color: #555555;
}

.contacts a:hover {
  color: #bb8588;
  font-weight: bold;
}

.contact-list {
  padding: 0;
}

/* Design of Footer */

footer {
  height:50px;
  box-shadow: 0px 0px 14px rgba(117, 117, 117, 0.1);
  background-color: #f8f9fa;
  margin-bottom: 0;
}

.footer.text {
  font-family: "IBM Plex Mono", monospace;
  margin-right: 20px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 15% 0 15%;
}

.fa-telegram,
.fa-envelope-circle-check,
.fa-envelope,
.fa-whatsapp {
  color: #e6beae;
  font-size: 20px;
  margin: 15px 15px 0 0;
}

@media screen and (max-width: 900px) {
    .intro {
        flex-wrap: wrap-reverse;
        margin: 30px;

    }
    .intro-1 {
      padding-bottom: 50px;
      margin: 0;
      border-bottom: 2px solid grey;
    }

    .intro-1-job {
      margin-top: 10px;
    }

    .intro-1-name {
      font-size: 40px;
    }
    .about-me,
    .contacts {
      margin: 30px;
    }
}
